.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 350px;
  justify-content: center;
  margin: 0 auto;
  background-color: lightgray;
  padding: 15px 5px;
  align-items: center;
  border-radius: 5px;
}

.gamebox {
  width: 70px;
  height: 70px;
  background-color: gray;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 auto;
}

.gameOver {
  margin-top: 10px;
  display: block;
}

.playAgain {
  margin: 10px auto;
  display: block;
  text-align: center;
  width: 150px;
  background-color: transparent;
  border: 1px solid #5e0808;
  color: #5e0808;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.playAgain:hover {
  background-color: #5e0808;
  color: white;
  transition: all 0.2s;
}